.nav {
  
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: #0D1F2D;
    justify-content: center;
    padding: 10px;
    
  }
 .landing{
   color: white ;
    position:absolute;
    left: 20px;
 }

 .home{
   color: white ;
    position: relative;
    right: -370px;
 }

 .create{
    color: white;
    position: relative;
    right: -400px;
 }

 .search{
   
    position: absolute;
    position: center;
 }
 
 .searchIcon{
   width: 25px;
position: absolute;
padding-left: 10px;
 }

 .input{
 
   background: white;
   border-radius: 3px;
   appearance: none;
   position: relative;
   width: 200px;
   height: 30px;
 }